# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Environment & secrets
.env
.env.*
*.env
*.pem
*.key

# Logs & databases
*.log
*.sqlite3

# IDE & tooling
.vscode/
.idea/
*.iml

# MacOS
.DS_Store

# Docs
sample/
test/